@import url("https://fonts.cdnfonts.com/css/luminova");
@import url("https://fonts.cdnfonts.com/css/malonet");

html,
body {
  background-color: #f2f0f0;
  margin: 0;
  padding: 0;
  height: 100vh;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
